@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Changed to white for a clean look */
  --foreground: #171717; /* Dark text for readability */
}



body {
  color: black;
  background: white; /* Use the variable for consistency */
  font-family: Arial, Helvetica, sans-serif;
}

.bg-blue-c {
  --tw-bg-opacity: 1;
  background-color: rgb(44 48 217);
}

.hovertext:hover {
  color: #dfdfdf !important;
}

.wid {
  width: 100%;
}

.h-style {
  padding: 13px;
  border-radius: 32px;
}

.bg-white {
  border-radius: 18px;
  color: black; /* Ensure text inside white backgrounds is black */
  background: white; /* Explicitly set the background */
}